<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Edit a task
        </h1>
        <div class="field">
            <p class="control">
                <input #taskTitleInput class="input" type="text" placeholder="Enter task name">
            </p>
            <p class="control">
                <a class="create" (click)="updateTask(taskTitleInput.value)">
                    Save
                </a>
            </p>
        </div>

        <button routerLink="/task-manager" class="button">Back</button>

    </div>
</div>