.contact {
    color: black;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    left: 7px;
}

.btn btn-link btn-neutral {
    display: flex;
    align-content: center;
}

.talking {
    position: relative;
	max-width: 410px;
	top: 30px;
	left: 330px;
}

#title {
    font-size: 60px;
    line-height: normal;
}

p, .mt-4 {
    font-size: 30px;   
}

#list {
    font-size: 20px;
}

#start {
    color: white;
}

#start:hover {
    background-color: white;
    color: purple;
}

#contacts {
    background-image: none;
    background-color: #F5F5F5;
}

.btn:hover {
    color: white;
    background-color: purple;
}