<div class="page-content">
    <div>
<div class="container">
<div class="aa-product-details section" id="features">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="icon icon-danger"><i class="fa fa-tags" aria-hidden="true"></i></div>
      <div class="description">
        <div class="h4">Budget Calculator</div>
        <p class="text-muted">Do you need to track your income and expenses? Go see the Budget Calculator!</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="icon icon-danger"><i class="fa fa-cog" aria-hidden="true"></i></div>
      <div class="description">
        <div class="h4">Learning</div>
        <p class="text-muted">You can now start learning how to achieve financial freedom!</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="icon icon-danger"><i class="fa fa-paint-brush" aria-hidden="true"></i></div>
      <div class="description">
        <div class="h4">Easy and beautiful interface</div>
        <p class="text-muted">Easily interact with the application and use its functionalities. It is so intuitive!</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="icon icon-danger"><i class="fa fa-desktop" aria-hidden="true"></i></div>
      <div class="description">
        <div class="h4">Everything in one place</div>
        <p class="text-muted">All your financial needs are in your browser!</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="icon icon-danger"><i class="fa fa-file-text" aria-hidden="true"></i></div>
      <div class="description">
        <div class="h4">Finance Notes</div>
        <p class="text-muted">You can even write notes about your financials! Visit the Finance Notes!</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="icon icon-danger"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
      <div class="description">
        <div class="h4">Chatbot</div>
        <p class="text-muted">You don't know how to find something? Ask our Chatbot!</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
<hr/>
</div>
<div class="aa-product-features section">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-12"><img class="img-fluid" src="assets/images/people.png" alt="Image"/></div>
    <div class="col-md-7 col-sm-12">
      <h2 class="title mb-2">Why do you need Moneyify?</h2>
      <p class="pt-2">Moneyify helps you manage your money!</p>
      <p class="pt-5 pb-1">With our app, you can:</p>
      <ul class="py-1 list-unstyled">
        <li class="py-1"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Track your income and expenses</li>
        <li class="py-2"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Write down notes to remind yourself</li>
        <li><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Learn how to become financially free</li>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="aa-screenshots section">
<div class="container text-center">
  <h2 class="title pb-3">Take a look at our features</h2>
  <p class="pb-5"></p>
  <div class="row">
    <div class="col-md-12 mb-5">
      <div class="card card-raised page-carousel">
        <div class="carousel slide" id="aa-carousel-indicators" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active " data-target="#aa-carousel-indicators" data-slide-to="0"></li>
            <li class=" " data-target="#aa-carousel-indicators" data-slide-to="1"></li>
            <li class=" " data-target="#aa-carousel-indicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"><img class="img-fluid" src="assets/images/person2.png" alt="First slide"/>
              <div class="carousel-caption d-none d-md-block"> </div>
            </div>
            <div class="carousel-item"><img class="img-fluid" src="assets/images/budget.png" alt="Second slide"/>
              <div class="carousel-caption d-none d-md-block"> </div>
            </div>
            <div class="carousel-item"><img class="img-fluid" src="assets/images/talking.png" alt="Third slide"/>
              <div class="carousel-caption d-none d-md-block"> </div>
            </div>
          </div><a class="left carousel-control carousel-control-prev bg-danger" href="#aa-carousel-indicators" role="button" data-slide="prev"><span class="fa fa-angle-left"></span><span class="sr-only">Previous</span></a><a class="right carousel-control carousel-control-next bg-danger" href="#aa-carousel-indicators" role="button" data-slide="next"><span class="fa fa-angle-right"></span><span class="sr-only">Next</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="aa-price-package section" id="pricing">
<div class="container">
  <div class="text-center">
    <h2 class="title">Check out what you can do with our app: </h2>
    <p class="pb-5">These are our main features and their core functionalities.</p>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card aa-price text-center">
        <div class="card-body">
          <div class="h5 mt-0"></div>
          <div class="aa-price-section">Budget Calculator</div>
          <ul class="list-unstyled text-muted">
            <li class="pt-3">Add incomes and expenses</li>
            <li>Specify the source for them</li>
            <li>Real-time calculation</li>
          </ul>
        </div>
        <div class="card-footer">
          <p><a href="#" class="text-muted text-small">Try it now!</a></p><a class="btn btn-outline-default btn-round" href="#">Budget</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card aa-price text-center">
        <div class="card-body">
          <div class="h5 mt-0"></div>
          <div class="aa-price-section">Finance Notes</div>
          <ul class="list-unstyled text-muted">
            <li class="pt-3">Write down notes</li>
            <li>Set reminders for your tasks</li>
            <li>Easily edit and delete them</li>
          </ul>
        </div>
        <div class="card-footer">
          <p><a href="#" class="text-muted text-small" > Try it now!</a></p><a class="btn btn-outline-default btn-round " href="#">Notes</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card aa-price text-center">
        <div class="card-body">
          <div class="h5 mt-0"></div>
          <div class="aa-price-section">Learning</div>
          <ul class="list-unstyled text-muted">
            <li class="pt-3">A lot of financial lessons</li>
            <li>Watch videos</li>
            <li>See great tips for your money</li>
          </ul>
        </div>
        <div class="card-footer">
          <p><a href="#" class="text-muted text-small" > Try it now!</a></p><a class="btn btn-outline-default btn-round " href="#">Learning</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card aa-price text-center">
        <div class="card-body">
          <div class="h5 mt-0"></div>
          <div class="aa-price-section">Chatbot</div>
          <ul class="list-unstyled text-muted">
            <li>AI which answers you</li>
            <li class="pt-3">Ask for help</li>
            <li>Instantaneous response</li>
            
          </ul>
        </div>
        <div class="card-footer">
          <p><a href="#" class="text-muted text-small" > Try it now!</a></p><a class="btn btn-outline-default btn-round " href="#">Chatbot</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
<hr/>
</div>
<!--<div class="aa-testimonials-section section">
<div class="container">
  <div class="text-center">
    <h2 class="title mt-0">What our customers are saying</h2>
    <p>Real user testimonials are great way to attract new customers and increase their trust into using your app.<br/>Replace the testimonials below with the ones for your own app.</p>
  </div>
  <div class="aa-testimonials">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="aa-testimonials-body">
          <p>Awesome App is awesome and I can't imagine working on my projects without it. It has saved me countless hours of time and has increased my productivity.</p>
          <div class="row pt-3">
            <div class="col-lg-5 col-md-12"><img class="img-fluid" src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" alt="Face 1"/></div>
            <div class="col-lg-7 col-md-12 pt-3">
              <div class="h5">Patrick Harry</div>
              <p class="text-muted">Web Developer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="aa-testimonials-body">
          <p>Awesome App is awesome and I can't imagine working on my projects without it. It has saved me countless hours of time and has increased my productivity.</p>
          <div class="row pt-3">
            <div class="col-lg-5 col-md-12"><img class="img-fluid" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="Face 2"/></div>
            <div class="col-lg-7 col-md-12 pt-3">
              <div class="h5">Andrew Riley</div>
              <p class="text-muted">Web Developer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="aa-testimonials-body">
          <p>Awesome App is awesome and I can't imagine working on my projects without it. It has saved me countless hours of time and has increased my productivity.</p>
          <div class="row pt-3">
            <div class="col-lg-5 col-md-12"><img class="img-fluid" src="https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/128.jpg" alt="Face 3"/></div>
            <div class="col-lg-7 col-md-12 pt-3">
              <div class="h5">Ralph Jordan</div>
              <p class="text-muted">Web Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>-->
<div class="aa-download-section section bg-gradient" id="download">         
<div class="container">
    <div class="container py-5">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="contact">Contact us:</h1>
          <a class="btn btn-link btn-neutral" href="https://www.facebook.com/SoftwareUniversity/" target="_blank">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
          <a class="btn btn-link btn-neutral" href="https://twitter.com/softunibg" target="_blank">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          </a>
          <a class="btn btn-link btn-neutral" href="https://softuni.bg/" target="_blank">
            <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
          </a>
          <a class="btn btn-link btn-neutral" href="https://www.instagram.com/softuni.bg/?hl=bg" target="_blank">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <span>
          <img class="talking" src="assets/images/talking.png">
        </span>
      </div>
    </div>
  </div>
</div>