<header>
    <div class="aa-header">
      <nav class="navbar navbar-expand-md navbar-transparent">
        <div class="container">
          <a class="navbar-brand px-0 py-0" href="#">Moneyify</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Budget Calculator</a></li>
              <li class="nav-item"><a class="nav-link" href="">Finance Notes</a></li>
              <li class="nav-item"><a class="nav-link" href="">Learning</a></li>
              <li class="nav-item"><a class="nav-link" href="">Chatbot</a></li>
              <li class="nav-item"><a class="nav-link" href="#download">Contacts</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container aa-header-content text-left text-white">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h1 class="text-white mb-4">What is Moneyify?</h1>
            <p>A personal finance app which helps you manage your money.</p>
            <ul class="py-1 list-unstyled">
              <li class="py-2"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Incredible Budget Calculator</li>
              <li class="py-2"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Amazing Finance Notes</li>
              <li class="py-2"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Great Learning</li>
            </ul><a class="mt-4 btn btn-outline-neutral btn-round" href="#features">Start Exploring</a>
          </div>
          <div class="col-md-6 col-sm-12 text-right"><img class="img-fluid" src="assets/images/person.png" alt="Image"></div>
        </div>
      </div>
    </div>
  </header>