<div class="main">
  <div class="top-bar">
      <h1>Budget Calculator</h1>
  </div>
  <section class="total-budget-section">
    
    <h1 id="balance" [ngClass]="{ 'red': totalBudget < 0, 'green': totalBudget > 0 }">{{ totalBudget }}</h1>
  </section>
  
  <section class="add-item-section">
    <div class="add-item-container">
      <app-budget-add-item-form style="padding: 20px;" (formSubmit)="addItem($event)"></app-budget-add-item-form>
    </div>
  </section>
</div>
  <hr style="margin-top: 0">
  
  <app-budget-item-list [budgetItems]="budgetItems" (delete)="deleteItem($event)" (update)="updateItem($event)"></app-budget-item-list>
<hr>
<div class="illustration">
  <img src="../../assets/images/learning3.png">
</div>

<div class="instructions">
  <h1>How to use it?</h1>
  <ul>
    <li class="info">Enter the desired amount</li>
    <li class="info">Enter description for it (source or other information)</li>
    <li class="info">Click Add</li>
    <li class="info">If you want to edit it, you can do so by clicking on it</li>
    <li class="info">You can delete it by clicking on the X icon</li>
  </ul>
</div>

<div class="illustration">
  <img src="../../assets/images/saving.png">
</div>

<div class="instructions">
  <h1>How to save money?</h1>
  <ol>
    <li class="info">Track your income and expenses</li>
    <li class="info">Try to limit buying products and services that you don't really need</li>
    <li class="info">Develop habits to cook your own food and use cheaper transport</li>
  </ol>
</div>