<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create a new list
        </h1>
        <div class="field">
            <p class="control">
                <input #listTitleInput class="input" type="text" placeholder="Enter list name">
            </p>
            <p class="control">
                <a class="create" (click)="createList(listTitleInput.value)">
                    Create
                </a>
            </p>
        </div>

        <button routerLink="/task-manager" class="button">Back</button>

    </div>
</div>