@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.body {
    background-image: url('../../assets/images/background.png');
    text-align: center;
}

.faq-block {
    padding-bottom: 25px;
}

#faq {
    width: 350px;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10vh;
}

label {
    padding: 5px 25px;
    position: relative;
    z-index: 20;
    display: block;
    height: 40px;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    line-height: 40px;
    font-size: 16px;
    background-color: purple;
    text-align: center;
}

label:hover {
    background-color: lightpink;
    color: purple;
}

input:checked + label,
input:checked + label:hover {
    background-color: purple;
    color: #fff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

input {
    display: none;
}

article {
    background-color: lightpink;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: -2px;
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
    transition: height 0.3s ease;
    display: flex;
    align-items: center;
    color: purple;
    text-align: center;
}

p {
    color: purple;
    line-height: 23px;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}

a {
    text-align: center;
}

input:checked ~ article {
    transition: height 0.3s ease;
}

input:checked ~ article.ac-small {
    height: 130px;
}

input:checked ~ article.ac-medium {
    height: 200px;
}

input:checked ~ article.ac-small {
    height: 130px;
}

input:checked ~ article.ac-large {
    height: 300px;
}

.title {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 50px;
}

.disclaimer {
    text-align: center;
    color: white;
}

#disclaimer {
    color: white;
    text-decoration: none;
}

.image {
    text-align: center;
}

.faq {
    text-decoration: none;
}

.bottom {
    padding: 70px;
}

.text {
    font-size: 30px;
    font-weight: bold;
}

.contacts {
    background-color: purple;
    color: white;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
}

.contacts:hover {
    background-color: lightpink;
    color: purple;
}

img { 
    margin: 20px;
}
