<div class="faq">
    <div class="body">
        <h1 class="title">Frequently Asked Questions (FAQs)</h1>
        <p class="disclaimer">If you can't find what you're looking for, visit 
            <a id="disclaimer" href="#contacts">Contacts</a> 
            and ask us!</p>
        <img src="../../assets/images/question.png">
    </div>
    <div class="image">
        <div class="questions">
            <section id="faq">
                <div class="faq-block">
                    <input id="ac-1" type="checkbox">
                    <label for="ac-1">What can I do?</label>
                    <article class="ac-medium">
                        <p>You can calculate your income and expenses using the Budget Calculator, create lists and assign them tasks with the Task Manager
                            and visit our learning page to enrich your knowledge about personal finance.
                        </p>
                    </article>
                </div>
                <div class="faq-block">
                    <input id="ac-2" type="checkbox">
                    <label for="ac-2">How to use the Budget Calculator?</label>
                    <article class="ac-small">
                        <p>You can read about it <a href="/budget-calculator/#how">here</a></p>
                    </article>
                </div>
                <div class="faq-block">
                    <input id="ac-3" type="checkbox">
                    <label for="ac-3">How to use the Task Manager?</label>
                    <article class="ac-small">
                        <p>You can read about it <a href="/task-manager/#how">here</a></p>
                    </article>
                </div>
                <div class="faq-block">
                    <input id="ac-4" type="checkbox">
                    <label for="ac-4">I have a problem. How to contact you?</label>
                    <article class="ac-small">
                        <p>You can visit our <a href="#contacts">Contacts</a> page</p>
                    </article>
                </div>
                <div class="faq-block">
                    <input id="ac-5" type="checkbox">
                    <label for="ac-5">What can I learn?</label>
                    <article class="ac-medium">
                        <p>You can learn useful tips and common principles which will help you understand personal finance
                            at a much higher level. You would be able to manage your money better which will lead to
                            your desired financial results. Visit our <a href="/learning">Learning</a> page
                        </p>
                    </article>
                </div>
                <div class="faq-block">
                    <input id="ac-6" type="checkbox">
                    <label for="ac-6">I forgot my password. What should I do?</label>
                    <article class="ac-small">
                        <p>You can contact us and we'll see what we can do. Visit our <a href="#contacts">Contacts</a> page
                        </p>
                    </article>
                </div>
                <div class="faq-block">
                    <input id="ac-7" type="checkbox">
                    <label for="ac-7">Will there be any new features soon?</label>
                    <article class="ac-small">
                        <p>We don't plan any features any time soon. You can follow us
                            on social media so you don't miss any future announcements.
                        </p>
                    </article>
                </div>
                <div class="faq-block">
                    <input id="ac-8" type="checkbox">
                    <label for="ac-8">How can I change the language?</label>
                    <article class="ac-small">
                        <p>For the moment, we support only English but we might
                            other languages in the future.
                        </p>
                    </article>
                </div>
            </section>
        </div>
        <img src="../../assets/images/questions.webp">
        <div class="bottom">
            <p class="text">Don't forget you can always contact us and we'll give you
                the information that you need!
            </p>
            <div>
                <a class="contacts" href="#contacts">Contacts</a>
            </div>
            <img src="../../assets/images/faq.jpg">
        </div>
    </div>
</div>


