<div class="faq">
    <div class="body">
        <h1 class="title">Frequently Asked Questions (FAQs)</h1>
        <p class="disclaimer">If you can't find what you're looking for, visit 
            <a id="disclaimer" href="#contacts">Contacts</a> 
            and ask us!</p>
        <section id="faq">
            <div class="faq-block">
                <input id="ac-1" type="checkbox">
                <label for="ac-1">test</label>
                <article class="ac-small">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti illo rerum, inventore quo voluptatem, enim qui adipisci minima quia, rem veniam?
                        Fuga, sit. Sunt, deserunt cum culpa dolore non totam?</p>
                </article>
            </div>
            <div class="faq-block">
                <input id="ac-2" type="checkbox">
                <label for="ac-2">test 2</label>
                <article class="ac-large">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti illo rerum, inventore quo voluptatem, enim qui adipisci minima quia, rem veniam?
                        Fuga, sit. Sunt, deserunt cum culpa dolore non totam?</p>
                </article>
            </div>
            <div class="faq-block">
                <input id="ac-3" type="checkbox">
                <label for="ac-3">test 3</label>
                <article class="ac-medium">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti illo rerum, inventore quo voluptatem, enim qui adipisci minima quia, rem veniam?
                        Fuga, sit. Sunt, deserunt cum culpa dolore non totam?</p>
                </article>
            </div>
        </section>
    </div>
    <div>
        <img src="../../assets/images/faq.jpg">
    </div>
</div>


