<div class="aa-header">
    <div class="container aa-header-content text-left text-white">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1 class="text-white mb-4">Task Manager</h1>
          <p class="description">Organize your time and tasks</p>
          <a id="start" class="mt-4 btn btn-outline-neutral btn-round" href="#task-manager">Try it!</a>
        </div>
      </div>
    </div>
  </div>
  <!--TASK MANAGER-->

  <div id="task-manager" class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar">
            <h1 class="title has-text-primary">
                Lists
            </h1>

            <div class="list-menu">
                <a id="is-active" class="list-menu-item is-active">
                    <p>List 1</p>
                </a>

                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
                  <p>{{ list.title }}</p>
                </a>

            </div>

            <button id="is-primary" class="button" routerLink="/task-manager/new-list">+ New List</button>

        </div>

        <div class="task-list-container">
          <h1 class="title has-text-primary">
              Tasks
          </h1>

          <div class="task" *ngFor="let task of tasks">
              <p>{{ task.title }}</p>
          </div>

          <button class="plus-button" routerLink="./new-task">
            +
          </button>
          
      </div>
    </div>
</div>

<!--TASK MANAGER END-->
  <div class="aa-product-features section">
    
    <div class="col-md-5 col-sm-12"><img class="img-fluid" src="assets/images/image.png" alt="Image"/></div>
    <div class="container">
      <div class="aa-product-details section" id="features">
        <h1 class="title2">How to use it?</h1>
        <div class="help">
            <ul class="help">
                <li class="help">You can create lists by clicking + New List</li>
                <li class="help">After you create a list, you can add specific tasks to it</li>
                <li class="help">If you want to edit the task, you can do that by clicking the icon</li>
                <li class="help">After you are done with the task, you can delete it by clicking the trash icon</li>
            </ul>
        </div>
      </div>
      </div>
  </div>
  
  
  
  
  