<div class="aa-header">
    <div class="container aa-header-content text-left text-white">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1 class="text-white mb-4">Task Manager</h1>
          <p class="description">Organize your time and tasks</p>
        </div>
      </div>
    </div>
  </div>
  <!--TASK MANAGER-->

  <div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar">
            <h1 class="title has-text-primary">
                Lists
            </h1>
        </div>

        <div class="task-list-container">
          <h1 class="title has-text-primary">
              Tasks
          </h1>
      </div>
    </div>
</div>

<!--TASK MANAGER END-->
  <div class="aa-product-features section">
    
    <div class="col-md-5 col-sm-12"><img class="img-fluid" src="assets/images/image.png" alt="Image"/></div>
    <div class="container">
      <div class="aa-product-details section" id="features">
        <h1 class="title2">How to use it?</h1>
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
      </div>
      </div>
  </div>
  
  
  
  
  