<footer class="footer-black aa-footer">
    <div class="container py-5">
      <div class="row text-center">
        <!--<div class="col-md-12">
          <a class="btn btn-link btn-neutral" href="https://www.facebook.com/SoftwareUniversity/" target="_blank">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
          <a class="btn btn-link btn-neutral" href="https://twitter.com/softunibg" target="_blank">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          </a>
          <a class="btn btn-link btn-neutral" href="https://softuni.bg/" target="_blank">
            <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
          </a>
          <a class="btn btn-link btn-neutral" href="https://www.instagram.com/softuni.bg/?hl=bg" target="_blank">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
        </div>-->
        <div class="col-md-12">
          <p class="mt-3">Copyright &copy; Moneyify. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
