<div class="centered-content">
    <div class="login-box">
        <h1>Login</h1>
        <div class="field">
            <p class="control">
                <input #emailInput class="input" type="email" placeholder="Email">
            </p>
            <p id="email-validation" class="email-validation" *ngIf="emailInput.value.length < 8 && emailInput.value.length >= 1">The email is invalid!</p>
        </div>
        <div class="field">
            <p class="control">
                <input #pwInput class="input" type="password" placeholder="Password">
                <span class="icon">
                    <i class="fas"></i>
                </span>
            </p>
            <p id="password-validation" class="email-validation" *ngIf="pwInput.value.length < 8 && pwInput.value.length >= 1">The password is invalid!</p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button" (click)="onLoginButtonClicked(emailInput.value, pwInput.value)">
                    Login
                </button>
            </p>
            <p class="reg">You don't have an account?
                <a class="link-reg" routerLink="/register">Register now!</a>
            </p>
        </div>
    </div>
</div>