<div class="aa-header">
    <div class="container aa-header-content text-left text-white">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1 class="text-white mb-4">Learning</h1>
          <p class="description">Acquire knowledge of personal finance</p>
        </div>
        <div class="img-div">
          <img class="img-first" src="../../assets/images/learning.v1.png">
        </div>
      </div>
    </div>
  </div>
  <div class="aa-product-features section">
    <div class="container">
      <div class="row">
        
        <div class="col-md-7 col-sm-12">
          <h2 class="title mb-2">Why is financial literacy important?</h2>
          <p class="pt-5 pb-1">It helps you with:</p>
          <ul class="py-1 list-unstyled">
            <li class="py-1"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Becoming financially free</li>
            <li class="py-2"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> The basics of budgeting</li>
            <li><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Prioritizing saving</li>
          </ul>
        </div>
        
      </div>
    </div>
    <div class="col-md-5 col-sm-12"><img class="img-fluid" src="assets/images/learning5.png" alt="Image"/></div>
    <div class="container">
      <div class="aa-product-details section" id="features">
        <h1 class="title2">What should you learn?</h1>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="icon icon-danger"><i class="fa fa-cog" aria-hidden="true"></i></div>
            <div class="description">
              <div class="h4">What are the first principles of economics?</div>
              <p class="text-muted">Supply and demand, markets, capital, inflation, competition, etc.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="icon icon-danger"><i class="fa fa-file-text" aria-hidden="true"></i></div>
            <div class="description">
              <div class="h4">What is money and how it works?</div>
              <p class="text-muted">You can even write notes about your financials! Visit the Finance Notes!</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="icon icon-danger"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
            <div class="description">
              <div class="h4">Why and how should you invest?</div>
              <p class="text-muted">Strategies for investing, types of assets, developing investing plan, etc.</p>
            </div>
          </div>
          <div class="col-md-5 col-sm-12"><img id="img-literacy" class="img-fluid" src="assets/images/literacy.png" alt="Image"/></div>
        </div>
      </div>
      </div>
  </div>
  
  <div class="container">
  </div>
  <div class="aa-screenshots section">
    <div>
      <h1 class="title2">Resources for learning:</h1>
      <div class="resources">
        <a class="link" target="blank" href="https://corporatefinanceinstitute.com/resources/knowledge/trading-investing/investing-beginners-guide/">Investing</a>
        <a class="link" target="blank" href="https://baripedia.org/wiki/Principles_of_economics">Economics</a>
        <a class="link" target="blank" href="https://www.investopedia.com/terms/m/money.asp">Money</a>
      </div>
      <h1 class="video">Personal finance video:</h1>
      <video controls>
        <source src="../../assets/videos/video.mp4">
      </video>
    </div>
    <div class="col-md-5 col-sm-12"><img class="img-fluid" src="assets/images/learning2.png" alt="Image"/></div>
  </div>
  
  